.container-fluid{
    background-image: url("netflixback.jpeg");
    background-size:contain;
    height: 100vmax;
    color:white;
}

.box{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

section{
    height: 400px;

}